<h1>Enter An Outfit</h1>
<form method="POST" action="login">
	<div>Top: <input type="text" name="top" value=""></div>
	<div>Bottom: <input type="text" name="bottom" value=""></div>
	<label for="jacket">Jacket: </label>
      <select name="answers" id="jacket">
        <option value=true>Yes</option>
        <option value=false>No</option>
      </select>
	<label for="scarf_gloves">Scarf or Gloves: </label>
      <select name="answers2" id="scarf_gloves">
        <option value=true>Yes</option>
        <option value=false>No</option>
      </select>
	<div><input type="submit" value="Save Outfit"></div>
</form>
