<h1>Enter An Outfit</h1>
<form method="POST" action="create">
	<div>Top: <input type="text" name="top" value=""></div>
	<div>Bottom: <input type="text" name="bottom" value=""></div>
	<label for="jacket">Jacket: </label>
      <select name="jacket" id="jacket">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
	<label for="scarf_gloves">Scarf or Gloves: </label>
      <select name="scarf_gloves" id="scarf_gloves">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
	<div><input type="submit" value="Save Outfit"></div>
</form>

<h1>Delete an Outfit/h1>
<form method="POST" action="create">
	<div>Outfit ID: <input type="text" name="outfitID" value=""></div>
	<div><input type="submit" value="Delete Outfit"></div>
</form>
