<!doctype html>
<html>
<head>
	 <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<meta charset="utf-8">
<title>What2Wear</title>
</head>
<body>
<style>
body {
	font-family: sans-serif;
	height: 100vh;
	font-family: Garamond, sans-serif;
	font-size: 1em;
	background-color: lightblue;
	display: grid;
	justify-content: center;
	align-items: center;
	overflow: auto;
}
#outer {
	overflow: auto;
	height: auto;
	width: auto;
	padding: 0em 2em 1em 2em;
	background-color:black;
}

.heading {
	top: 10%;
	left: 36%;
	font-size: 5em;
	color: darkslategray; 
	padding-top: 1em;	
}

.weather {
	top: 25%;
	left: 36%;
	font-size: 3em;
	color: black; 
	padding-top: 1em;	
}

.outfits {
	top: 30%;
	left: 36%;
	font-size: 3em;
	color: darkgoldenrod; 
	padding-top: 1em;	
}

.note {
	color: darkolivegreen; 
	padding-top: 1em;
}

.error {
	background-color: #eecccc;
	padding: 0.25em;
}

.success {
	background-color: #cceecc;
	padding: 0.25em;
}

form div {
	padding-bottom: 0.5em;
}

  .parent {
	list-style-type: none;
	padding: fit-content(300px);
	display: grid;
	grid-gap: 20px;
	justify-content: center;
	box-sizing: border-box;
	grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px) 1fr;
	{{!-- grid-template-columns: repeat(3, calc(33.33% - 20px)); --}}

  }
  .child {
	color: white;
	box-sizing: border-box;
	padding: 10px;
	background: teal;
	margin: 0; 
  }
</style>
<div class="heading"> What2Wear </div>
<div id="outer">
{{{ body }}}
{{#if home}}
{{else}}
<div class="note">Want go <a href="/">back home</a>?</div>
{{/if}}
</div>
 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>
</html>
