<script src="js/just-validate.min.js"></script>
<h1>Change Location</h1>
<form method="POST" action="zipcode">
	<div>Zipcode: <input type="text" data-validate-field="zip" name="zipcode" value=""></div>
	<div><input type="submit" value="Save Location"></div>
	
	
</form>

